// COLORS
$primary-color: #000428;
$secondary-color: #004e92;

$white-color: #1f2933;

$dark-grey: #3e4c59;
$light-grey: #7b8794;

$dark-blue-text: #bebebe; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
